table {
    width: 60%;
    margin: 50px auto;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
}
th {
    background-color: #f4f4f4;
}
td {
    background-color: #fff;
}