/* Общие стили */
* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    color: #333;
}

h1, h2 {
    margin: 0 0 20px 0;
    font-weight: 600;
}

p {
    margin: 0 0 30px 0;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/* Секция с приглашением */
.invite-section {
    background-color: #f1c40f;
    padding: 60px 0;
}

.invite-section h1 {
    font-size: 32px;
    color: #333;
}

.invite-form {
    margin-top: 20px;
}

.invite-form input {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    max-width: 80%;
    margin-right: 10px;
    border: none;
    border-radius: 3px 0 0 3px;
}

.invite-form button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 0 3px 3px 0;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.invite-form button:hover {
    background-color: #555;
}

/* Секция с функциональностью */
.features-section {
    padding: 60px 0;
    background-color: #f9f9f9;
}

.features-section .infinity-icon {
    background-image: url('infinity-icon.png'); /* Используйте изображение для значка бесконечности */
    background-size: contain;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.features-section .mobile-icon img {
    width: 100px;
    height: auto;
}

/* Секция с приглашением поделиться */
.refer-section {
    background-color: #f1c40f;
    padding: 60px 0;
}

.refer-section h2 {
    color: #333;
}

/* Нижний колонтитул */
.footer {
    background-color: #f4f7f7;
    color: #fff;
    padding: 20px 0;
}

.footer .social-icons {
    justify-content: center;
}

.footer .social-icons {
    margin: 0 10px;
}

.footer .social-icons img {
    width: 24px;
    height: 24px;
    margin-right: 12px;
}
