h1{
    font-size: 40px;
}
.planet{
    margin-bottom: 40px;
    text-align: center;
}
.venera{
    margin-bottom: 40px;
    text-align: left;
}
.Earth{
    margin-bottom: 40px;
    text-align: right;
}
.Mars{
    margin-bottom: 40px;
    text-align: center;
}
.Jupiter{
    text-align: center;
}
.Saturn{
    text-align: center;
}
.Uran{
    text-align: left;
}
.Neptune{
    text-align: right;
}